# node_modules chứa thư viện cài bằng npm => không cần đẩy lên git
node_modules/

# bản build khi chạy "npm run build"
dist/
build/

# file log và tạm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE và hệ điều hành
.DS_Store
Thumbs.db

# VSCode settings (nếu không muốn chia sẻ config editor)
.vscode/

# môi trường
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
